/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    border: none;
}
/* menu de navegação */
.navbar{
    background-color:#005480 !important;
}

.navbar a{
    color: #fff !important;
}

.navbar a:hover{
    color: #ff00ff !important;
}

.navbar button{
    color:#fff !important;
    background-color: #005480 !important;
} 
.navbar button:hover{
    color: #ff00ff !important;
}

a.dropdown-item{
    color: #005480 !important;
}
.dropdown-item a:hover{
    color: #ff00ff;
}


/* banner */
.carousel-item img{
    height: 505px;
    padding-left: 1px;
}

h1{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 50px 0 50px 0;
    color: #005480;
}

/* Sectio de Produtos */

h2, h3,h4,h5, h6{
    color: #005480;
    font-size: 23px;
}
h4{
    margin-top: 5px;
}

h5{
    margin-bottom: 20px;
}

.card-img-top01{
    height:170px;
}
.card-img-top04{
    height:170px;
}


.card-text-04{
    margin-top: 10px;
}
.btn01{
    margin-top: 5px;
}

#cards{
    flex-wrap: wrap !important;
    justify-content: space-between;
    padding-right: 180px;
    width: 1200px;
    font-size: 16px;
}

.banner{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

.maps {
    margin: 10px 10px 70px 30px;
}

label{
    color: #fff;
    margin: 10px;
}   

.contato{
    margin: 10px 50px 75px 90px;
    /* border: 1px solid green; */
    padding: 60px 120px 40px 50px;
    background-color: #005480;
    height: 500px;
}

.contato p{
    color: #fff;
    text-align: center;
    font-size: 20px;
}

input{
    text-align: center;
    width: 210px;
}

footer p{
    text-align: center;
    font-size: 15px;
    width: 100%;
    border: 1px solid #005480;
}